
<div class="hero-header">
  <div class="inner-text">
  <p class="p2">Mealed!</p>
  <p class="tagline">For your cooking needs.</p>
</div>
</div>




<!-- <div class="carousel-container-landing">


<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @recipes.each_with_index do |recipes, i| %>
    <li data-target="#mycarousel" data-slide-to=#{i) class="#{'active' if i == 0}"></li>
  <% end %>
  </ol>

  <div class="carousel-inner">
    <% @recipes.each_with_index do |image, index| %>
    <% if index == 0 %>
    <div class="item active">
      <% end %>

    <div class="item">
      <a href="#"><img src="<%= image.image %>" class="img-responsive" /></a>
      <div class="carousel-caption">
        <h3><%= image.name %></h3>
        <p><%= image.cuisine %></p>

      </div>
    </div>
  <% if index == 0 %>
  </div>
  <% end %>

<% end %>


  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

</div> -->


<div class="section" id="other-recipes">

<h1> More Recipes </h1>
<span class="headerLine"></span>

<% @recipes.each do |recipe| %>
<div class="box col-md-3">
<div class="thumbnail recipe-thumb">
<img src="<%= recipe.image %>" alt="...">
<div class="recipe-cuisine"><%= recipe.cuisine %></div>
<div class="recipe-views"><span class="glyphicon glyphicon-eye-open views-icon"></span><%= recipe.views %></div>
<div class="caption">
  <h3><%= recipe.name %></h3>
  <p><%= recipe.instructions %></p>
  <p><%= link_to 'View Recipe', recipe_path(recipe), class:'btn btn-primary view-recipe-btn' %></p>
</div>
</div>
</div>
<% end %>

<div style="clear:both;"></div>
</div>


<div class="section" id="how-it-works">


<h1> How It Works </h1>
<span class="headerLine"></span>


  <div id="tabs">
  <ul id="accordion-how-it-works">
    <li>
      <a class="active" href="#tabs-1">   <div class="tag">
          <div class="icon">
            <div class="block howitworks">
              <div class="circle">1</div>
            </div>
          </div>
          <span class="title">Browse Recipe</span>
        </div>
      </a>
        <div class="addon fadein">
          <span>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          </span>
          <a class="para-a" href="#">Learn More</a>
        </div>
    </li>
    <li>
      <a href="#tabs-2">   <div class="tag">
          <div class="icon">
            <div class="block howitworks">
              <div class="circle">2</div>
            </div>
          </div>
          <span class="title">Create Recipe</span>
        </div>
      </a>
        <div class="addon">
          <span>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          </span>
          <a class="para-a" href="#">Learn More</a>
        </div>
    </li>
    <li>
      <a href="#tabs-3">   <div class="tag">
          <div class="icon">
            <div class="block howitworks">
              <div class="circle">3</div>
            </div>
          </div>
          <span class="title">Order From Us </span>
        </div>
      </a>
        <div class="addon">
          <span>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          </span>
          <a class="para-a" href="#">Learn More</a>
        </div>
    </li>
  </ul>
  <div class="browser">

    <div id="tabs-1"></div>
    <div id="tabs-2"></div>
    <div id="tabs-3"></div>
  </div>
</div>

</div>








<!--
<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= recipe.cuisine %></td>
    <td><%= recipe.costperserving %></td>
    <td><%= recipe.views %></td>
    <td><%= recipe.instructions %></td>
    <td><img src="<%= recipe.image %>"</td>
  </tr>

<% end %> -->

<script>
$(function() {
  $("#tabs").tabs({
    show: { effect: "blind", direction: "right", duration: 300 }
  });
  $( "#accordion-how-it-works" ).accordion();

  var btn = $('#accordion-how-it-works li a');
  var wrapper = $('#accordion-how-it-works li');

  $(btn).on('click', function() {
    $(btn).removeClass('active');
    $(btn).parent().find('.addon').removeClass('fadein');

    $(this).addClass('active');
    $(this).parent().find('.addon').addClass('fadein');
  });
});

</script>
