<%= render "partials/featuredheroandsearch" %>



<!-- <div class="carousel-container-landing">


<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @recipes.each_with_index do |recipes, i| %>
    <li data-target="#mycarousel" data-slide-to=#{i) class="#{'active' if i == 0}"></li>
  <% end %>
  </ol>

  <div class="carousel-inner">
    <% @recipes.each_with_index do |image, index| %>
    <% if index == 0 %>
    <div class="item active">
      <% end %>

    <div class="item">
      <a href="#"><img src="<%= image.image %>" class="img-responsive" /></a>
      <div class="carousel-caption">
        <h3><%= image.name %></h3>
        <p><%= image.cuisine %></p>

      </div>
    </div>
  <% if index == 0 %>
  </div>
  <% end %>

<% end %>


  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

</div> -->


<div class="section" id="other-recipes">

<h1> More Recipes </h1>
<span class="headerLine"></span>

<div class="recipe-all">

  <div class="masonry-container">
      <div class="grid-sizer"></div>

      <% @recipes.first(4).each do |recipe| %>

    <div class="thumbnail recipe-thumb grid-item">

      <figure class="snip1268">
  <div class="image">
    <img src="<%= recipe.image %>" alt="sq-sample4">
<div class="icons">
      <div class="recipe-views"><span class="glyphicon glyphicon-eye-open views-icon"></span><%= recipe.views %></div>
    </div>

    <%= link_to 'View Recipe', recipe_path(recipe), class:'view-recipe' %>
  </div>
</figure>


      <div id="ribbon">
    <span id="content-cuisine"><%= recipe.cuisine %></span>
    </div>

      <div class="caption">
        <h3><%= recipe.name %></h3>
      </div>
    </div>

    <% end %>


</div>


</div>

<div style="clear:both;"></div>
</div>
<br/><Br/>


<!-- Header -->
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>How It Works</h1>
                    <h3>Long busy days at work, no time to go shopping? Want to eat home cooked meals? We have you covered!</h3>
                    <hr class="intro-divider">

                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->

</div>

<!-- Page Content -->
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading">Steps to making shopping passé and fresh home-cooked meals a reality!</h2>
                <p class="lead">
                    Look no further than Mealbox.</p>
                <div class="col-md-3">
                    <div class="numberCircle">
                        <div class="height_fix"></div>
                        <div class="content">1</div>
                    </div>
                    <h3 >Sign Up</h3>
                    <p>
                      Signing up is easy and it's free. Moreover, you do not need an account to view our pre-designed starter meal plans.
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="numberCircle">
                        <div class="height_fix"></div>
                        <div class="content">2</div>
                    </div>
                    <h3>Choose Meals</h3>
                    <p>
                      After you have completed the sign up formalities, you are ready to order the things you need for your week's grub. Proceed to build your meal plan or pay as you go. Meal Plans are billed weekly.
                    </p>
                    <p>
                      You are given the option of up to three meals per day with a minimum of four meals in any one week. That's right we give you recipes and ingredients for your breakfast,lunch and dinner.
                    </p>
                </div>

                <div class="col-md-3">
                    <div class="numberCircle">
                        <div class="height_fix"></div>
                        <div class="content">3</div>
                    </div>
                    <h3>Get your Meal Box.</h3>
                    <p>
                        Our delivery concierge will deliver your weekly Meal Box in two hours within your order.
                    </p>
                </div>
                <div class="col-md-3">
                    <div class="numberCircle">
                        <div class="height_fix"></div>
                        <div class="content">4</div>
                    </div>
                    <h3>Cook awesome, healthy food!</h3>
                    <p>
                        After you sign off your goods, you are set for your week's meals for your entire family....and you didnt have to stand one minute at the checkout line!
                    </p>
                </div>

            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

<br/><br/>





<!--
<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= recipe.cuisine %></td>
    <td><%= recipe.costperserving %></td>
    <td><%= recipe.views %></td>
    <td><%= recipe.instructions %></td>
    <td><img src="<%= recipe.image %>"</td>
  </tr>

<% end %> -->
