



<div class="recipe-all">

  <div class="masonry-container">
      <div class="grid-sizer"></div>


    <div class="thumbnail recipe-thumb grid-item">
      <img src="<%= @recipes.image %>" alt="...">
      <div class="recipe-cuisine"><%= @recipes.cuisine %></div>
      <div class="recipe-views"><span class="glyphicon glyphicon-eye-open views-icon"></span><%= @recipes.views %></div>
      <div class="caption">
        <h3><%= @recipes.name %></h3>
        <p><%= @recipes.instructions %></p>
      </div>
    </div>



</div>


</div>

<script src='http://masonry.desandro.com/masonry.pkgd.js'></script>
<script src='http://imagesloaded.desandro.com/imagesloaded.pkgd.js'></script>

<script>

var $grid = $('.masonry-container').imagesLoaded( function() {
  $grid.masonry({
    itemSelector: '.grid-item',
    percentPosition: true,
    columnWidth: '.grid-sizer',
    gutter: 20
  });
});

</script>
