
<div class="hero-header-home">
  <div class="inner-text">
  <p class="p2">Mealed!</p>

  <div class="col-xs-8 col-xs-offset-2">
    <form class="new_search" action="/search" accept-charset="UTF-8" method="get">
      <div class="input-group search-meal-app">
              <div class="input-group-btn search-panel">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span id="search_concept">Filter by</span> <span class="caret"></span>
                  </button>

                  <ul class="dropdown-menu" role="menu">
                    <% @cuisine_list.each do |cuisine| %>
                       <li><a href="#<%= cuisine %>"><%= cuisine %></a></li>
                    <% end %>
                  </ul>
              </div>
              <input type="hidden" name="cuisine" value="all" id="search_param">
              <input type="text" class="form-control" name="query" placeholder="Search term...">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </span>
        </div>
      </form>
    </div>

  </div>

</div>

<div class="section">
  <% if @recipes %>
    <h1><%= @recipes.first.cuisine %> Recipes</h1>
  <% else %>
    <h2>No recipes found. Please try again!</h2>
  <% end %>

  <span class="headerLine"></span>

  <div class="recipe-all">

    <div class="row masonry-container">

      <% @recipes.each do |recipe| %>
        <div class="box col-md-3">
          <div class="thumbnail recipe-thumb">
            <img src="<%= recipe.image %>" alt="...">
            <div class="recipe-cuisine"><%= recipe.cuisine %></div>
            <div class="recipe-views"><span class="glyphicon glyphicon-eye-open views-icon"></span><%= recipe.views %></div>
            <div class="caption">
              <h3><%= recipe.name %></h3>
              <p><%= recipe.instructions %></p>
              <p><%= link_to 'View Recipe', recipe_path(recipe), class:'btn btn-primary view-recipe-btn' %> </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<script>

 $('.masonry-container').imagesLoaded
   $('.masonry-container').masonry
     itemSelector: '.box '
     columnWidth: (containerWidth)
       if $(window).width() >= 992  //for col-md-4
         containerWidth /3

</script>
