
<%= render "partials/featuredheroandsearch" %>

<div class="section">
  <% if @recipes.length > 0 %>
    <h1><%= @recipes.first.cuisine %> Recipes</h1>
  <% else %>
    <h2>No recipes found. Please try again!</h2>
  <% end %>

  <span class="headerLine"></span>

  <div class="recipe-all">

    <div class="masonry-container">
        <div class="grid-sizer"></div>

        <% @recipes.each do |recipe| %>
        <div class="thumbnail recipe-thumb grid-item">
          <figure class="snip1268">
      <div class="image">
        <img src="<%= recipe.image %>" alt="sq-sample4">
    <div class="icons">
          <div class="recipe-views"><span class="glyphicon glyphicon-eye-open views-icon"></span><%= recipe.views %></div>
        </div>

        <%= link_to 'View Recipe', recipe_path(recipe), class:'view-recipe' %>
      </div>
    </figure>


          <div id="ribbon">
        <span id="content-cuisine"><%= recipe.cuisine %></span>
        </div>

          <div class="caption">
            <h3><%= recipe.name %></h3>
          </div>
        </div>

        <% end %>
    </div>
  </div>

</div>
