<%= render "partials/featuredheroandsearch" %>

<br/><Br/>

<%= form_for :recipe, url: recipe_path(@recipe), method: :patch do |f| %>

 <% if @recipe.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@recipe.errors.count, "error") %> prohibited
       this recipe from being saved:
     </h2>
     <ul>
       <% @recipe.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

<div class="section" id="edit-recipe">

 <h2>Editing Recipe</h2>

 <div class="card-container">

   <div class="card u-clearfix">

       <span class="subtle card-category"><a href="/recipes"> Recipes > </a> <%= @recipe.cuisine %></span>

       <div class="holderviewservings">
       <div class="show-recipe-views"><span> <span class="glyphicon glyphicon-eye-open views-icon"></span> <%= @recipe.views %><span class="per"> <b>views</b></span> </span> </div>
       <div class="show-recipe-servings"><span>$<%= sprintf("%.2f", @recipe.costperserving) %><span class="per"> per <b>servings</b></span> </span> </div>
       </div>
       </div>


   <h2 class="card-title">
     <%= f.text_field :name %> </h2>


 <div class="col-md-7">
 <img src="<%= @recipe.image %>" alt="" class="card-media" />






     </div>

     <div class="col-md-5 ingredientbox">
     <h1><b> Ingredients</b> </h1>
       <ul class="ingredients">
           <% @recipe.recipe_ingredients.each do |recipe| %>
           <li><%= recipe.quantity %></em> <%=recipe.ingredient.qtyunit %> <%=recipe.ingredient.name %>
           </label></li>

           <% end %>
         </ul>

           </div>

 </div>

 <div class="card-container">
 <div class="col-md-7 instructionbox">

     <h1><%= f.label :instructions %></h1>
     <%= f.text_area :instructions %>

 </div>


<div class="col-md-5 otherbox">


       <%= f.label :cuisine %><br>
     <%= f.select :cuisine, [['Western', 'Western'], ['Asian', 'Asian'], ['Chinese', 'Chinese'], ['Malay', 'Malay']], {}, {class: "select-picker"} %><br/>

<br/>
     <%= f.label :image %><br/>
     <%= f.text_field :image %><br>



    <%= f.submit class:'saverecipe-btn' %>

</div>



 </div>


<% end %>


</div>

<div style="clear:both;"></div>

<br/><Br/>
