<%= render "partials/featuredheroandsearch" %>

<br/><Br/>

<%= form_for :recipe, url: recipe_path(@recipe), method: :patch do |f| %>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="section" id="edit-recipe">

  <h2>Editing recipe</h2>

    <div class="card-container">

        <%= link_to 'Back', recipes_path %>

      <h3 class="card-title"><%= f.text_field :name %>  </h3>


      <div class="card u-clearfix">

    <div class="col-md-7">
    <img src="<%= @recipe.image %>" alt="" class="card-media" />
    </div>


        </div>

      </div>
    </div>

  <p>
    <%= f.select :cuisine, [['Western', 'Western'], ['Asian', 'Asian'], ['Chinese', 'Chinese'], ['Malay', 'Malay']], {}, {class: "select-picker"} %>
  </p>

  <p>
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  </p>

  <p>
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </p>

<p>
   <%= f.submit class:'saverecipe-btn' %>
  </p>

<% end %>


</div>

<div style="clear:both;"></div>

<br/><Br/>
