<%= render "partials/featuredheroandsearch" %>

<br/><Br/>


<%= form_for :recipe, url: recipe_path(@recipe), method: :patch do |f| %>

  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prohibited
        this recipe from being saved:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="section" id="edit-recipe">

  <h2>Editing recipe</h1>

    <div class="card-container">

      <h2 class="card-title"><%= f.text_field :name %>  </h2>


      <div class="card u-clearfix">

    <div class="col-md-7">
    <img src="<%= @recipe.image %>" alt="" class="card-media" />
    </div>






        </div>

      </div>
    </div>

  <p>
    <%= f.label :cuisine %><br>
    <%= f.text_field :cuisine %>
  </p>

  <p>
    <%= f.label :costperserving %><br>
    <%= f.text_field :costperserving %>
  </p>

  <p>
    <%= f.label :instructions %><br>
    <%= f.text_field :instructions %>
  </p>

  <p>
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </p>

<p>
   <%= f.submit class:'saverecipe-btn' %>
  </p>

<% end %>

<%= link_to 'Back', recipes_path %>

</div>

<div style="clear:both;"></div>

<br/><Br/>
