
<%= render "partials/featuredheroandsearch" %>
<div class="section hero_remove" >

  <h1>Recipes</h1>
  <span class="headerLine"></span>

  <span class="add-recipe-btn"><i class="fa fa-plus" aria-hidden="true"></i><%= link_to 'Add Recipe', new_recipe_path %>
  </span>

  <div class="recipe-all">

    <div class="masonry-container">
        <div class="grid-sizer"></div>

        <% @recipes.each do |recipe| %>

        <div class="thumbnail recipe-thumb grid-item">
          <figure class="snip1268">
      <div class="image">
        <img src="<%= recipe.image %>" alt="sq-sample4">
    <div class="icons">
          <div class="recipe-views"><span class="glyphicon glyphicon-eye-open views-icon"></span><%= recipe.views %></div>
        </div>

        <%= link_to 'View Recipe', recipe_path(recipe), class:'view-recipe' %>
      </div>
    </figure>


          <div id="ribbon">
        <span id="content-cuisine"><%= recipe.cuisine %></span>
        </div>

          <div class="caption">
            <h3><%= recipe.name %></h3>
          </div>
        </div>

        <% end %>
    </div>
  </div>

  <%= link_to 'Add Recipe', new_recipe_path %>
  <table>
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th>Cost per serving</th>
      <th>Views</th>
      <th>Instructions</th>
      <th>Image Url</th>
    </tr>

  <div style="clear:both;"></div>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.cuisine %></td>
      <td><%= recipe.costperserving %></td>
      <td><%= recipe.views %></td>
      <td><%= recipe.instructions %></td>
      <td><%= recipe.image %></td>
      <td><%= link_to 'Show', recipe_path(recipe) %></td>

<% if user_signed_in? && (current_user.id == recipe.user_id) %>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      <td>
        <%= link_to 'Remove', recipe_path(recipe),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>

  <% end %>
  </table>

</div>
