<div class="section">

<h1>Recipes Index</h1>
<span class="headerLine"></span>


<%= link_to 'Add Recipe', new_recipe_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Cuisine</th>
    <th>Cost per serving</th>
    <th>Views</th>
    <th>Instructions</th>
    <th>Image Url</th>
  </tr>

  <div class="recipe-all">

    <div class="row masonry-container">

        <% @recipes.each do |recipe| %>
    <div class="box col-md-3">
      <div class="thumbnail recipe-thumb">
        <img src="<%= recipe.image %>" alt="...">
        <div class="recipe-cuisine"><%= recipe.cuisine %></div>
        <div class="recipe-views"><span class="glyphicon glyphicon-eye-open views-icon"></span><%= recipe.views %></div>
        <div class="caption">
          <h3><%= recipe.name %></h3>
          <p><%= recipe.instructions %></p>
          <p><a href="#" class="btn btn-primary view-recipe-btn" role="button">View Recipe</a> </p>
        </div>
      </div>
    </div>
      <% end %>


  </div>


  </div>








  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.cuisine %></td>
      <td><%= recipe.costperserving %></td>
      <td><%= recipe.views %></td>
      <td><%= recipe.instructions %></td>
      <td><%= recipe.image %></td>
      <td><%= link_to 'Show', recipe_path(recipe) %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      <td>
        <%= link_to 'Remove', recipe_path(recipe),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

</div>

<script>

 $('.masonry-container').imagesLoaded
   $('.masonry-container').masonry
     itemSelector: '.box '
     columnWidth: (containerWidth)
       if $(window).width() >= 992  //for col-md-4
         containerWidth /3

</script>
