
<%= render "partials/featuredheroandsearch" %>
<div class="section">

  <h1>Recipes</h1>
  <span class="headerLine"></span>


  <div class="recipe-all">

    <div class="masonry-container">
        <div class="grid-sizer"></div>

        <% @recipes.each do |recipe| %>

      <div class="thumbnail recipe-thumb grid-item">
        <img src="<%= recipe.image %>" alt="...">
        
        <div id="ribbon">
  		<span id="content-cuisine"><%= recipe.cuisine %></span>
  	</div>

        <div class="recipe-views"><span class="glyphicon glyphicon-eye-open views-icon"></span><%= recipe.views %></div>
        <div class="caption">
          <h3><%= recipe.name %></h3>
          <p><%= link_to 'View Recipe', recipe_path(recipe), class:'btn btn-primary view-recipe-btn' %> </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <%= link_to 'Add Recipe', new_recipe_path %>
  <table>
    <tr>
      <th>Name</th>
      <th>Cuisine</th>
      <th>Cost per serving</th>
      <th>Views</th>
      <th>Instructions</th>
      <th>Image Url</th>
    </tr>

  <div style="clear:both;"></div>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.cuisine %></td>
      <td><%= recipe.costperserving %></td>
      <td><%= recipe.views %></td>
      <td><%= recipe.instructions %></td>
      <td><%= recipe.image %></td>
      <td><%= link_to 'Show', recipe_path(recipe) %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      <td>
        <%= link_to 'Remove', recipe_path(recipe),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </table>

</div>
