
<div class="hero-header-home">




  <div class="inner-text">
  <p class="p2">Mealed!</p>


  <div class="col-xs-8 col-xs-offset-2">
  <div class="input-group search-meal-app">
          <div class="input-group-btn search-panel">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">Filter by</span> <span class="caret"></span>
              </button>

              <ul class="dropdown-menu" role="menu">
                <% @recipes.each_with_index do |recipe, index| %>
             <li><a href="#<%= recipe.cuisine %>"><%= recipe.cuisine %></a></li>
             <% end %>
              </ul>

          </div>
          <input type="hidden" name="search_param" value="all" id="search_param">
          <input type="text" class="form-control" name="x" placeholder="Search term...">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>






      </div>

  </div>

</div>





</div>


<ul class="tags-cuisines">
    <% @recipes.each_with_index do |recipe, index| %>
   <li><a href="#"><%= recipe.cuisine %></a></li>
<% end %>
 </ul>



<div class="section">

<h1>Recipes Index</h1>
<span class="headerLine"></span>


<%= link_to 'Add Recipe', new_recipe_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Cuisine</th>
    <th>Cost per serving</th>
    <th>Views</th>
    <th>Instructions</th>
    <th>Image Url</th>
  </tr>

  <div class="recipe-all">

    <div class="masonry-container">
        <div class="grid-sizer"></div>

        <% @recipes.each do |recipe| %>

      <div class="thumbnail recipe-thumb grid-item">
        <img src="<%= recipe.image %>" alt="...">
        <div class="recipe-cuisine"><%= recipe.cuisine %></div>
        <div class="recipe-views"><span class="glyphicon glyphicon-eye-open views-icon"></span><%= recipe.views %></div>
        <div class="caption">
          <h3><%= recipe.name %></h3>
          <p><%= recipe.instructions %></p>
          <p><%= link_to 'View Recipe', recipe_path(recipe), class:'btn btn-primary view-recipe-btn' %> </p>
        </div>
      </div>

      <% end %>


  </div>


  </div>








  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= recipe.cuisine %></td>
      <td><%= recipe.costperserving %></td>
      <td><%= recipe.views %></td>
      <td><%= recipe.instructions %></td>
      <td><%= recipe.image %></td>
      <td><%= link_to 'Show', recipe_path(recipe) %></td>
      <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
      <td>
        <%= link_to 'Remove', recipe_path(recipe),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

</div>

<script src='http://masonry.desandro.com/masonry.pkgd.js'></script>
<script src='http://imagesloaded.desandro.com/imagesloaded.pkgd.js'></script>

<script>

var $grid = $('.masonry-container').imagesLoaded( function() {
  $grid.masonry({
    itemSelector: '.grid-item',
    percentPosition: true,
    columnWidth: '.grid-sizer',
    gutter: 20
  });
});

</script>
