<div class="recipe-all">
<div class="col-md-4">
      <div class="recipe-cuisine"><%= @recipe.cuisine %></div>
<div class="recipe-book-image"><img src="<%= @recipe.image %>" class="img-responsive"></div>
</div>






<div class="col-md-6 recipe-details">

  <div class="show-recipe-views"><span class="glyphicon glyphicon-eye-open views-icon"></span><%= @recipe.views %></div>
<div class="show-recipe-servings"> <span><%= @recipe.costperserving %> per <b>servings</b> </span> </div>
  <h2> <%= @recipe.name %></h2>


<div class="col-md-4">
  <ul class="ingredients">
    <h5><i> Ingredients</i> </h5>
      <% @recipe.recipe_ingredients.each do |recipe| %>
      <li><input type="checkbox" id="1"><label for="1"><em><%= recipe.quantity %></em> <%=recipe.ingredient.name %>   <%= link_to '', [recipe.recipe, recipe], class:'glyphicon glyphicon-remove ing-delete', method: :delete, data: { confirm: 'Are you sure?' } %></label></li>
      <% end %>

    </ul>
  </div>

<div class="col-md-8 instructionbox">
  <h5><i>Instructions</i></h5>
  <%= @recipe.instructions %>
</div>


<div style="clear:both;"></div>

<h5>Add ingredients to recipe:</h5>
<%= form_for([@recipe, @recipe.recipe_ingredients.build]) do |f| %>

  <%= f.collection_select(:ingredient_id, @ingredients, :id, :name ) %>
  <p>
    <%= f.label :quantity %><br>
    <%= f.text_area :quantity %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', recipes_path %>










</div>


<div style="clear:both;"></div>

</div>
