<%= render "partials/featuredheroandsearch" %>

<div class="card-container">

    <% if user_signed_in? %>
      <%= link_to 'Buy Recipe', new_transaction_path, class:'buy-recipe-btn' %>
    <% end %>

  <div class="card u-clearfix">


      <span class="subtle card-category"><a href="/recipes"> Recipes > </a> <%= @recipe.cuisine %></span>

  <h2 class="card-title"><%= @recipe.name %> </h2>


<div class="col-md-7">
<img src="<%= @recipe.image %>" alt="" class="card-media" />

<% if user_signed_in? && current_user.id == @recipe.user_id %>
  <span class="edit-recipe-btn">
  <i class="fa fa-pencil-square-o"><%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %></i>
  </span>
<% end %>
<div class="holderviewservings">
<div class="show-recipe-views"><span> <span class="glyphicon glyphicon-eye-open views-icon"></span> <%= @recipe.views %><span class="per"> <b>views</b></span> </span> </div>
<div class="show-recipe-servings"><span>$<%= sprintf("%.2f", @recipe.costperserving) %><span class="per"> per <b>servings</b></span> </span> </div>
</div>
</div>


<div class="card-body">
  <div class="col-md-5 ingredientbox">
  <h1><b> Ingredients</b> </h1>
    <ul class="ingredients">
        <% @recipe.recipe_ingredients.each do |recipe| %>
        <li><%= recipe.quantity %></em> <%=recipe.ingredient.qtyunit %> <%=recipe.ingredient.name %>
        </label></li>

        <% end %>
      </ul>

        </div>

    </div>

  </div>
</div>

<div class="card-container">
<div class="col-md-7 instructionbox">

  <h1><b>Instructions</b></h1></br>
  <ul>
      <% @instructions.each_with_index do |i, index| %>
        <% if i.length > 0 %>
        Step <%=index%><%=i%></br></br></br>
        <% end %>
      <% end %>
  </ul>
</div>

<div class="col-md-5 nutritionalvalue">
    <h1><b>Nutritional Value</b></h1>
  <br/>



<div class="boxes-mover">
    <div class="col-md-4 box">
        <span class="nutri-name">Total Fat</span>
        <span class="nutri-result">
          <%= sprintf("%.2f", @recipe.ingredients.inject(0) {|sum,x|
           x.attributes['fat'] ? sum + x.fat : sum + 0 } )
           %>g
      </span>
    </div>


    <div class="col-md-4 box">
        <span class="nutri-name">Total Calories</span>
      <span class="nutri-result"><%= sprintf("%.2f", @recipe.ingredients.inject(0) {|sum,x|
       x.attributes['calories'] ? sum + x.calories : sum + 0 } )
       %>cal</span>
    </div>

    <div class="col-md-4 box">
        <span class="nutri-name">Cholestrol</span>
      <span class="nutri-result"><%= sprintf("%.2f", @recipe.ingredients.inject(0) {|sum,x|
       x.attributes['cholestrol'] ? sum + x.cholestrol : sum + 0 } )
       %>g</span>
    </div>
  </div>

<div style="clear:both;"></div>

<div class="dividerbox">&nbsp;</div>

    <div class="col-md-5 box">
        <span class="nutri-name">Carbohydrate</span>
      <span class="nutri-result"><%= sprintf("%.2f", @recipe.ingredients.inject(0) {|sum,x|
       x.attributes['carbohydrate'] ? sum + x.carbohydrate : sum + 0 } )
       %>g</span>
    </div>

    <div class="col-md-5 box">
        <span class="nutri-name">Protein</span>
      <span class="nutri-result"><%= sprintf("%.2f", @recipe.ingredients.inject(0) {|sum,x|
       x.attributes['protein'] ? sum + x.protein : sum + 0 } )
       %>g</span>
    </div>

</div>

</div>

<div style="clear:both;"></div>

<div class="card-container morefromcuisine">
<div class="more-from-cuisine">
<h2>More from <%= @recipe.cuisine %></h2>

  <% @recipesfromother.first(4).each_with_index do |image, index| %>
<div class="col-md-3">
        <% if index == 0 %>
<% end %>

        <div class="thumbnail">
            <a href="#"><img src="<%= image.image %>" alt=""></a>
        </div>
        <div class="caption">
            <h4><%= image.name %></h4>
        <p><%= link_to 'View Recipe', recipes_url, class:'btn btn-primary view-recipe-btn' %> </p>
        </div>

      </li>

</div>
<% end %>

 </div>

 </div>


    <div style="clear:both;"></div>

    <br/><br/>
