<nav class="navbar navbar-inverse navbar-fixed-top navbar mealbox-nav-main">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle mealbox-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
<%= link_to root_path, class: "navbar-brand" do %>
     <%= image_tag 'mealbox-logo.png' %>
     <% end %>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav mealbox-nav">
        <li><a href="#">How it works</a></li>
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Order</a></li>
      </ul>
      <ul class="nav navbar-nav mealbox-nav navbar-right">

        <% if user_signed_in? %>
          <li class="welcome-current">Welcome, <%=current_user.name%> !</li>
          <li><%=link_to "Profile", edit_user_registration_path, class: "glyphicon glyphicon-edit" %></li>
          <li><%=link_to "logout", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %></li>
        <% else %>
          <li><%= link_to "Register", new_user_registration_path, class:"glyphicon glyphicon-user" %></li>
            <li><%= link_to "Login", new_user_session_path, class:"glyphicon glyphicon-log-in" %></li>
  <% end %>

      </ul>
    </div>
  </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
