<nav class="navbar navbar-inverse navbar-fixed-top navbar mealbox-nav-main">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle mealbox-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
           <%= image_tag 'mealbox-logo.png' %>
           <% end %>

    </div>


    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav mealbox-nav">
        <li><a href="/howitworks">How it works</a></li>

        <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary btn-mealbox" data-target="#" href="/page.html">
              Recipes <span class="caret"></span>
            </a>
    		<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
             <li><%= link_to 'All Recipes', recipes_path %></li>
              <li><%= link_to 'Create Recipe', '/recipes/new#progressbar' %></li>
              <li class="divider"></li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Cuisines</a>
                <ul class="dropdown-menu">
                <% @header_cuisine_list.each do |cuisine| %>
               <li><a href="/browse/cuisine/<%= cuisine %>"><%= cuisine %> </a></li>
               <% end %>
                </ul>
              </li>
            </ul>
        </div>

        <% if user_signed_in? && current_user.id == 1 %>
        <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary btn-mealbox" data-target="#" href="/page.html">
              Ingredients <span class="caret"></span>
            </a>
    		<ul class="dropdown-menu multi-level" rrole="menu" aria-labelledby="dropdownMenu">
             <li><%= link_to 'All Ingredients', ingredients_path %></li>
              <li><%= link_to 'Create Ingredients', new_ingredient_path%></li>
            </ul>
        </div>
        <% end %>

          <li><a href="/contactus">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav mealbox-nav navbar-right">

        <% if user_signed_in? %>
          <li class="welcome-current">Welcome, <%=current_user.name%> !</li>

        <div class="dropdown">
            <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary btn-mealbox" data-target="#" href="/page.html">
              Profile <span class="caret"></span>
            </a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
          <li><%=link_to "My Profile", user_path(current_user.id) %></li>
              <li><%=link_to "My Recipes",  show_user_recipes_path(current_user.id)  %></li>
              <li><%=link_to "My Orders", show_user_transactions_path(current_user.id) %></li>
              <li class="dropdown-submenu">
              <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "Register", new_user_registration_path %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
          </li>
      </ul>
    </div>

  </ul>
</div>

<div class="mealbox-flasher">
<% if notice %>
  <p class="alert alert-success">
    <%= notice %>
  </p>
  <% elsif alert%>
  <p class="alert alert-danger">
    <%= alert %>
  </p>
  <% end %>
</div>

</nav>
