<div class="section" id="profile-page">
  <h1> My Profile </h1>
  <div class="headerLine"></div>


<header class="header-profile">
  <figure class="profile-picture"
    style="background-image: url('http://www.translationwebshop.com/wp-content/themes/translationwebshop/images/img_placeholder_avatar.jpg')">
  </figure>
  <div class="profile-stats">
    <ul>
      <li><%= @recipes %>   <span>Recipes</span></li>
      <li>1,354 <span>Orders</span></li>
    </ul>
    <%=link_to "Edit Profile", edit_user_registration_path, class: "edit-profile-btn" %>
      <%=link_to "View Recipes", show_user_recipes_path, class: "view-profile-btn" %>
  </div>
</header>

<br/><br/>

<div class="personal-details">


<div class="container">



  <h5> Personal Details </h5>
<p>Name: <%= @user.name %></p>
<p>Email:<%= @user.email %></p>
<p>Contact Number: <%= @user.contactno %></p>
<p>Birthday: <%= @user.birthdate %></p>
</div>

</div>

</div>
