<div class="section">
  <% if @recipes.length > 0 %>
    <h1>My Recipes</h1>
  <% else %>
    <h2>No recipes found.</h2>
  <% end %>

  <span class="headerLine"></span>

  <div class="recipe-all">

    <div class="masonry-container">
        <div class="grid-sizer"></div>

        <% @recipes.each do |recipe| %>

      <div class="thumbnail recipe-thumb grid-item">
        <img src="<%= recipe.image %>" alt="...">
        <div id="ribbon">
  		<span id="content-cuisine"><%= params[:cuisine] %></span>
  	</div>

        <div class="recipe-views"><span class="glyphicon glyphicon-eye-open views-icon"></span><%= recipe.views %></div>
        <div class="caption">
          <h3><%= recipe.name %></h3>
          <p><%= recipe.instructions %></p>
          <p><%= link_to 'View Recipe', recipe_path(recipe), class:'btn btn-primary view-recipe-btn' %> </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
