<h1>All Ingredients</h1>
<%= link_to 'Add Ingredient', new_ingredient_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Cost</th>
    <th>QtyUnit</th>
    <th colspan="3"></th>
  </tr>

  <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= ingredient.name %></td>
      <td><%= ingredient.category %></td>
      <td><%= ingredient.cost %></td>
      <td><%= ingredient.qtyunit %></td>
      <td><%= link_to 'Destroy', ingredient_path(ingredient),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
