<h1>Ingredients#index</h1>
<p>Find me in app/views/ingredients/index.html.erb</p>

<%= link_to 'Add Ingredient', new_ingredient_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Cost</th>
    <th>QtyUnit</th>
  </tr>

  <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= ingredient.name %></td>
      <td><%= ingredient.category %></td>
      <td><%= ingredient.cost %></td>
      <td><%= ingredient.qtyunit %></td>
      <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
      <td>
        <%= link_to 'Remove', ingredient_path(ingredient),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
