<h1>Ingredients#index</h1>

<%= form_tag searchingredient_path, method: :post, remote: true, id: 'nutri_ing_form' do %>
<%= hidden_field_tag 'nutri_id', "test" %>
  <ul class="searchcontainer">
    <h2>Search Results</h2>
  </ul>
<% end %>

<%= form_tag searchnutri_path, method: :post, remote: true, id: 'searchform' do %>
  <%= label_tag(:query, "Search for:")%>
  <%= text_field_tag(:query)%>
  <%= submit_tag("Search")%>
<% end %>

<br><br>
