<h1>Ingredients#new</h1>
<p>Find me in app/views/ingredients/new.html.erb</p>

<%= form_for @ingredient do |f| %>
  <% if @ingredient.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@ingredient.errors.count, "error") %> prohibited
        this ingredient from being saved:
      </h2>
      <ul>
        <% @ingredient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </p>

  <p>
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </p>

  <p>
    <%= f.label :qtyunit %><br>
    <%= f.text_field :qtyunit %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', ingredients_path %>
