<h1>Listing ingredients</h1>

<p>
  <strong>Name:</strong>
  <%= @ingredient.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @ingredient.category %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @ingredient.cost %>
</p>

<p>
  <strong>QtyUnit:</strong>
  <%= @ingredient.qtyunit %>
</p>

<%= link_to 'Back', ingredients_path %>
