<div class="container">



  <h1></h1>
<p>
<h1>Nutritional value for: <b><%= @search ['item_name'] %></b> </h1>
  <h3>Calories: <%= @search ['nf_calories'] %> </h3>
  <h3>Total Fat: <%= @search ['nf_total_fat'] %> </h3>
  <h3>Cholestrol: <%= @search ['nf_cholestrol'] %> </h3>
  <h3>Carbohydrate: <%= @search ['nf_total_carbohydrate'] %> </h3>
  <h3>Serving Size: <%= @search ['nf_serving_size_qty'] %> </h3>
</p>

 <%= link_to 'Back', ingredients_path %>
</div>
