<%= render "partials/featuredheroandsearch" %>

<br/> <br/>

 <div class="col-md-6" id="orderInput">

	<%= form_for @transaction, :url => transactions_new_path do |f| %>
	  <% if @transaction.errors.any? %>
	    <div id="error_explanation">
	      <h3><%= pluralize(@transaction.errors.count, "transaction error") %> prohibited this transaction from being saved:</h3>

	      <ul>
	      <% @transaction.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

 <%= f.label :"Total Serving" %></br>
 <%= f.text_field :totalserving, placeholder: "Maximum 20" %></br>
 </br>

 <%= f.label :"Delivery Time" %></br>
 <%= f.time_field :deliverytime, placeholder: "Time" %></br>
 </br>

 <%= f.label :"Delivery Date" %></br>
 <%= f.date_field :deliverydate, placeholder: "Date" %></br>
 </br>

 <div class="panel panel-default credit-card-box">
   <div class="panel-heading display-table">
     <div class="row display-tr">
       <h3 class="panel-title display-td">Which credit card will you be using?</h3>
       <img class="img-responsive pull-left" src="http://i76.imgup.net/accepted_c22e0.png">
     </div>
   </div>
 </div>

 <%= f.label :"Credit Card" %></br>
 <%= f.text_field :creditcard, placeholder: "Credit Card" %></br>
 </br>

 <%= f.label :"Address" %></br>
 <%= f.text_field :address1, placeholder: "Address" %></br>
 </br>

 <%= f.label :"Apartment/Unit" %></br>
 <%= f.text_field :address2, placeholder: "Apartment/Unit" %></br>
 </br>
 <!-- <div class="field form-group"> -->


   <%= f.submit %>
   <%end%>

</div>

<div class="col-md-6" id="orderDetails">
 <div class="header1"><p>Recipe information</p></div>

 <div class="col-md-3" id="recipeInfo">

   <h3>Name: <%=@recipe.name%></h3>

   <h3>Cost per Serving: $ <%=@recipe.costperserving%>0</h3>

   <!-- <h3>Total Cost: $ <%=@transaction.totalcost%>0 </h3> -->

   </br>

   <%=image_tag (@recipe.image)%>

 </div>
</div>


<div style="clear:both;"></div>
