<%= render "partials/featuredheroandsearch" %>

<br/> <br/>

 <div class="col-md-6" id="orderInput">

	 <%= form_for(@transaction) do |f| %>
	  <% if @transaction.errors.any? %>
	    <div id="error_explanation">
	      <h3><%= pluralize(@transaction.errors.count, "transaction error") %> prohibited this transaction from being saved:</h3>

	      <ul>
	      <% @transaction.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

 <%= f.label :"Total Serving" %></br>
 <%= f.text_field :totalserving, placeholder: "Maximum 20" %></br>
 </br>
 <%= f.label :"Delivery Time" %></br>
 <%= f.time_field :deliverytime, placeholder: "Time" %></br>
 </br>
 <%= f.label :"Delivery Date" %></br>
 <%= f.date_field :deliverydate, placeholder: "Date" %></br>
 </br>
 <%= fields_for(@user) do |v| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h3><%= pluralize(@user.errors.count, "user error") %> prohibited this transaction from being saved:</h3>

			<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

 <!-- <div class="field form-group"> -->

 <div class="header2"><p>User information</p></div>

 <div class="panel panel-default credit-card-box">
             <div class="panel-heading display-table">
                 <div class="row display-tr">
                     <h3 class="panel-title display-td">Which credit card will you be using?</h3>
                     <img class="img-responsive pull-left" src="http://i76.imgup.net/accepted_c22e0.png">
                 </div>
             </div>
 </div>


   <%= v.label :"Credit Card" %></br>
   <%= v.text_field :creditcard, placeholder: "Enter Valid Credit Card Number"%></br>
   </br>
   <%= v.label :"Address/Street Name" %></br>
   <%= v.text_field :address1, placeholder: "eg. Clementi West Ave 6"%></br>
   </br>
   <%= v.label :"Apartment/Unit + ZIP" %></br>
   <%= v.text_field :address2, placeholder: "Blk 113, #03-213, SINGAPORE 611343 "%></br>
   </br>

   <%end%>
   <%= f.submit %>
   <%end%>

</div>

<div class="col-md-6" id="orderDetails">
 <div class="header1"><p>Recipe information</p></div>

 <div class="col-md-3" id="recipeInfo">

   <h3>Name: <%=@recipe.name%></h3>

   <h3>Cost per Serving: $ <%=@recipe.costperserving%>0</h3>

   <!-- <h3>Total Cost: $ <%=@transaction.totalcost%>0 </h3> -->

   </br>

   <%=image_tag (@recipe.image)%>

 </div>
</div>


<div style="clear:both;"></div>
