<h1>Here are the details for your transaction</h1>


<h2>Recipe Cost Per Serving</h2>
<h3><%=@recipe.costperserving%></h3></br>

<h2>Total Transaction Cost</h2>
<h3><%=@transaction.totalcost%></h3></br>

<h2>Delivery Date</h2>
<h3><%=@transaction.deliverydate%></h3></br>

<h2>Delivery Time</h2>
<h3><%=@transaction.deliverytime%></h3></br>

<h2><%= link_to 'Edit Transaction', edit_transaction_path %></h2>

<h2><%= link_to "Delete Transaction", @transaction, method: :delete %></h2>
