<div class="row" id="orderForm">
  <div class="header1"><p>Order information

  <span class="link">
  <%= link_to 'Edit', edit_transaction_path %>
  </span>
  |
  <%= link_to "Delete", @transaction, method: :delete%>

  </p>
  </div>

  <div class="col-md-6" id="orderInput">


  </br>

  <h3>Total Serving</h3>
  <h4><%=@transaction.totalserving%> Serving</h4></br>

  <h3>Total Cost</h3>
  <h4>$<%=@transaction.totalcost%>0</h4></br>

  <h3>Delivery Date</h3>
  <h4><%=@transaction.deliverydate%></h4></br>

  <h3>Delivery Time</h3>
  <h4><%=@transaction.deliverytime%></h4></br>

  <h3>Delivery Address</h3>
  <h4><%=@transaction.address1%></h4>
  <h4><%=@transaction.address2%></h4></br>

  </div>
</div>

<div class="row" id="orderDetails">
  <div class="header1"><p>Recipe information</p></div>

  <div class="col-md-3" id="recipeInfo">

    <h3>Name: <%=@recipe.name%></h3>

    <h3>Cost per Serving: $ <%=@recipe.costperserving%>0</h3>

    </br>

    <%=image_tag (@recipe.image)%>

  </div>
</div>


<div style="clear:both;"></div>

</div>
