<%= render "partials/featuredheroandsearch" %>

<div class="section" id="transaction-section">
<h1>Order Details</h1>
<span class="headerLine"></span>
<div class="row" id="orderDetails">
<h1>Recipe information</h1>

  <div id="recipeInfo">

    <p>Name: <%=@recipe.name%></p>

    <p>Cost per Serving: $ <%=@recipe.costperserving%>0</p>

    </br>

    <%=image_tag (@recipe.image)%>

  </div>
</div>

<span class="edit-trans-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  <%= link_to 'Edit', edit_transaction_path %>
</span>

<span class="delete-trans-btn"><i class="fa fa-trash-o" aria-hidden="true"></i> <%= link_to "Delete", @transaction, method: :delete%>
</span>





  <div class="col-md-6" id="orderInput">

  <h3>Total Serving</h3>
  <p><%=@transaction.totalserving%> Serving</p>

  <h3>Total Cost</h3>
  <p>$<%= sprintf("%.2f", @transaction.totalcost) %></p>
  <h3>Delivery Date</h3>
  <h4><%=@transaction.deliverydate.strftime('%a, %d %b')%></h4></br>
  <h3>Delivery Time</h3>
  <h4><%=@transaction.deliverytime.strftime('%H:%M:%S')%></h4></br>
  <h3>Delivery Address</h3>
  <p><%=@transaction.address1%></p>
  <p><%=@transaction.address2%></p>

  </div>
</div>



<div style="clear:both;"></div>

</div>
