<!DOCTYPE html>
<html>
    <head>
        <title>MealboxApp</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- Bootstrap Core CSS -->
        <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" %>

        <!-- Custom CSS -->
        <%= stylesheet_link_tag "/stylesheets/css/landing-page.css" %>
        <%= stylesheet_link_tag "/stylesheets/font-awesome/css/font-awesome.css" %>

        <!-- Custom Fonts -->
        <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" %>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script> <![endif]-->

        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <%= render "partials/header" %>

    <body>
        <%= render "partials/navbar" %>
        <% if notice %>
        <p class="alert alert-success">
            <%= notice %>
        </p>
        <% elsif alert%>
        <p class="alert alert-danger">
            <%= alert %>
        </p>
        <% end %>
        <%= yield %>
    </body>

    <%= render "partials/footer" %>

</html>
