<!DOCTYPE html>
<html>
  <head>
    <title>MealboxApp</title>
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "partials/navbar" %>
    <% if notice %>
      <p class="alert alert-success">
        <%= notice %>
      </p>
      <% elsif alert%>
      <p class="alert alert-danger">
        <%= alert %>
      </p>
      <% end %>
    <%= yield %>
  </body>
</html>
