<!DOCTYPE html>
<html>
  <head>
    <title>MealboxApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <%= render "partials/header" %>

  <body>
    <%= yield %>
  </body>
</html>
