<!DOCTYPE html>
<html>
  <head>
    <title>MealboxApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <%= render "partials/header" %>

  <body>

    <% if notice %>
      <p class="alert alert-success">
        <%= notice %>
      </p>
      <% elsif alert%>
      <p class="alert alert-danger">
        <%= alert %>
      </p>
      <% end %>
    <%= yield %>
  </body>

    <%= render "partials/footer" %>

</html>

<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
