<!DOCTYPE html>
<html>
  <head>
    <title>MealboxApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <%= render "partials/header" %>

  <body>
    <%= render "partials/navbar" %>
    <% if notice %>
      <p class="alert alert-success">
        <%= notice %>
      </p>
      <% elsif alert%>
      <p class="alert alert-danger">
        <%= alert %>
      </p>
      <% end %>
    <%= yield %>
  </body>

    <%= render "partials/footer" %>

</html>
